.App {
  text-align: center;
  width: 1170px;
  margin: auto;
}

.App-title {
  background-color: #4e5d6c;
  height: 30px;
  padding: 30px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.App-intro {
  font-size: large;
}

#covey-quadrants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.quadrant {
  width: 45%;
  height: 395px;
  background-color: #575757;
  border: 1px dotted #000;
  margin: 0;
  padding: 15px;
  overflow-y: auto;
}



.add-todo {
  display: block;
  width: 93%;
  height: 39px;
  padding: 4px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2b3e50;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

ul {
  padding: 0;
}

li {
  border: 1px solid #D3B424;
  cursor: pointer;
  text-decoration: none;
  transition: font-size .5s ease;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #4e5d6c;
  text-align: left;
  margin: 0;
  margin-bottom: -1px;

}

li * {
  cursor: pointer;
}

li:hover  {
  background: #E18728;
}

li button {
  float: right;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 1px 5px;
  background: 0 0;
  background-image: none;
  border: 1px solid transparent;
  vertical-align: middle;
  user-select: none;
  color: #fff;
}

li button:hover {
  color: #AB1A02;
  text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
}

li span.done-true {
  text-decoration: line-through;
  color: bisque;
}

.todo-done {
  margin-right: 5px;
}

/*** Quadrant Labels ***/

div.quadrant-label {
  display:flex;
  justify-content: space-around;
}

div.quadrant-label.important {
  flex-wrap: wrap;
  height: 820px;
  max-width: 250px;
  margin-left: 25px;
  position: absolute;
  z-index: -999999;
}

.urgent-quadrant-label,
.important-quadrant-label {
  text-transform: uppercase;
  color: orange;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.important-quadrant-label {
  transform: rotate(-90deg);
}


/*** Edit Todo Form ***/
input.edit-todo {
  width: 98%;
  height: 20px;
  font-size: 15px;
}

span.editing-false {
  display: block;
}

span.editing-true {
  display: none;
}

form.editing-false {
  display: none;
}

form.editing-true {
  display: block;
}

/*** Search box ***/
.search-todos {
  height: 21px;
  width: 96%;
  padding: 8px 16px;
  font-size: 15px;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding: 19px 15px 0;
  margin-top: 5px;
}